<ion-row>
  <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col>
                    <ion-item>
                    <ion-label position="floating">Question</ion-label>
                    <ion-input [(ngModel)]="question.question"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row *ngFor="let answer of question.answers" >
                <div class="child"></div>
                <ion-col size-xs="2" class="parent">
                      <ion-checkbox class="child" color="primary" [(ngModel)]="answer.correct"></ion-checkbox>
                </ion-col>
              
                <ion-col size-xs="10" >
                  <ion-item>
                    <ion-label position="floating">Answer</ion-label>
                    <ion-input [(ngModel)]="answer.text"></ion-input>
                  </ion-item>
                </ion-col>
                {{answer.text}}
              </ion-row>
              
              <ion-row>
                <ion-col text-right>
                  <ion-button   (click)="addListItem()">
                      <ion-icon name="add"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
        </ion-card-content>
      </ion-card>
  </ion-col>
</ion-row>
